<!-- Loader -->
<div id="loader" class="position-fixed top-50 start-50 translate-middle d-none">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Cargando...</span>
    </div>
</div>


<!-- Toast Container -->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 9999">
    <div id="toastNotificacion" class="toast align-items-center text-white bg-primary border-0" role="alert">
        <div class="d-flex">
            <div class="toast-body" id="toastMensaje">Mensaje</div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
        </div>
    </div>
</div>